header,
main {
	padding-left: 1rem;
	padding-right:1rem;
}
main {
	display:flex;
	flex-wrap:wrap;
}
.counts {
	display: flex;
	width:100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #EAEBE9;
	z-index: 1;
	padding-bottom:.5rem;
	-webkit-mask-image: linear-gradient( black 0%,  black 80%, transparent 100%);
	margin-bottom:1rem;
}
h2 {
	width:50%;
	margin: 0;
}
h2 span:last-of-type {
	font-size:.5em;
}
textarea {
	width:100%;
	background-color:transparent;
	border:none;
	font-size:1rem;
	padding: .5em 0;
	outline: none;
	resize: none;
	overflow: auto;
	-webkit-mask-image: linear-gradient( transparent 0%, black .5em,black 90%, transparent 100%);
}

@media only screen and (max-width: 700px) {
	#container {
		box-shadow: none;
		overflow: unset;
	}
}