html {
	width:100%;
	min-height:100%;
	display: flex;
	/*align-items: center;*/
}
header,
main {
	padding-left: 1rem;
	padding-right:1rem;
}
main {
	display:flex;
	flex-wrap:wrap;
}
h1 {
	width:100%;
}
h2 {
	width:50%;
	margin-top: 0;
}
h2 span:last-of-type {
	font-size:.5em;
	/*display:block;*/
}
textarea {
	width:100%;
	background-color:transparent;
	border:none;
	font-size:1rem;
	padding: .5em 0;
	outline: none;
	resize: none;
	overflow: auto;
	-webkit-mask-image: linear-gradient( transparent 0%, black 10%,black 90%, transparent 100%);
}

@media only screen and (max-width: 600px) {
	header span {
	    padding-left: 0;
	}
}