main {
	padding-left: 1rem;
	padding-right:1rem;
}
main {
	display:flex;
	flex-wrap:wrap;
}
.counts {
	display: flex;
	width:100%;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #EAEBE9;
	z-index: 1;
	padding-bottom:.5rem;
	-webkit-mask-image: linear-gradient( black 0%,  black 80%, transparent 100%);
	margin-bottom:1rem;
}
h2 {
	width:50%;
	margin: 0;
}
h2 span:last-of-type {
	font-size:.5em;
}
textarea {
	width:100%;
	background-color:transparent;
	border:none;
	font-size:1rem;
	padding: .5em 0;
	outline: none;
	resize: none;
	overflow: auto;
	-webkit-mask-image: linear-gradient( transparent 0%, black .5em,black 90%, transparent 100%);
}
.action {
	font-size: 1rem;
	padding-bottom: .5rem;
	margin-left: 1rem;
}
.action:first-of-type {
	margin-left: auto;
}

#saved {
	position: fixed;
	top: 0;
	right: 0;
	max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:1rem;
    width:25%;
    font-size: 1rem;
}
#saved div {
	display:flex;
	flex-wrap: wrap;
}
#saved p {
	width:100%;
}

@media only screen and (max-width: 700px) {
	#container {
		/*box-shadow: none;*/
		overflow: unset;
	}

	#saved {
		width: 100%;
		position: static;
		overflow: auto;
		margin-bottom: 2.5rem;
	}
}

@supports(padding: max(0px)) {
	@media only screen and (max-width: 700px) {
		main,
		#saved {
			padding-left: max(1rem, env(safe-area-inset-left));
			padding-right: max(1rem, env(safe-area-inset-right));
		}
	}
}