* {
	/*border:1px solid #fff;*/
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: url("../images/blurredSmartHuman.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	/*background-color:#ff5a5f;*/
	/*color:rgb(86, 90, 92);*/
	color:#fff;
	/*font-family: 'Comfortaa','Open Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-size:30px;
	font-weight:200;
	margin:0px;
}
header {
	text-align: left;
	background: RGBa(255,255,255,.5);
	width:100%;
	position:inherit; /*why not fixed?*/
	color:#ff5a5f;
	font-size:.75em;
	padding:0 .5em;
}
header p {
	float:right;
	margin:10px auto;
	padding: .25em .5em;
}
header p.logo {
	float:left;
	position: relative;
}

header a.logo {
	text-decoration:none;
	color:#ff5a5f;
	/*margin: .5em;*/
	float:left;
	margin-top: .1em;
}

nav a.button {
	box-shadow: 0px 3px #B22D31;
	border:none;
	margin: .5em 0;
}
nav a.button:hover {
	box-shadow: 0px 3px #B22D31;
}
nav a.button:active {
	box-shadow: 0px 3px #ff5a5f;
}

.verticalAlign {
	position:relative;
	top:50%;
	transform:translateY(25%);
}

nav {
	float:right;
}

nav a {
	float: left;
	margin: .5em;
	padding: .5em 0;
	text-align: center;
	color: #ff5a5f;
	text-decoration: none;
	font-weight:400;
	/*box-shadow:0px 3px rgba(255,255,255,0);*/
	/*width:2em;*/
}

nav a:hover {
	box-shadow:0px 3px #ff5a5f;
	/*font-weight:700;*/
}

main {
	margin:5% auto;
	width:1200px;
}

h1, h2, h3 {
	font-weight:200;
	margin:0px;
}

h1 {
	text-transform:uppercase;
	color:#ff5a5f;
	font-size:3em;
	line-height:2em;
}
h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}

h3 {
	font-size:.8em;
}

h3 strong{
	display:block;
	font-size:1.2em;
}

p, ul {
	line-height:1.25em;
}

ul {
	list-style-type:none;
	padding:0;
/*	padding-left:1.5em;*/
}

li span {
	font-size:.66em;
}

strong {
	font-family:'Pacifico',cursive;
	font-weight:normal;
}

footer {
	font-size:.5em;
	font-weight:400;
	text-align:center;
	clear:both;
	padding: 1.5em 0;
	background-color:rgba(255,255,255,.5);
	color:#ff5a5f;
}

.button {
	color:#fff;
	background-color:#ff5a5f;
	border:4px solid rgba(0,0,0,0);
	box-shadow: 0px 4px #B22D31;
	/*border:none;*/
	/*border-radius: 5px;*/
	/*box-shadow: 0 2px #B22D31;*/
	/*font-size:1em;*/
	padding:.5em;
	text-align:center;
	text-decoration:none;
}

.button:hover{
	background-color:#B22D31;
}

.button:active {
	color:#ff5a5f;
	background-color:#fff;
	box-shadow: 0px 4px #ff5a5f;
	/*border: 2px #ff5a5f;*/
}

.slogan {
	/*font-style:italic;*/
	/*text-transform:capitalize;*/
	text-align:center;
	font-size:1.5em;
	color:#ff5a5f;
	margin:0px;
}

/*.splash {
	background: url("../images/blurredSmartHuman.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
}*/

.darken {
	background-color:rgba(0,0,0,.2);
	height:100vh;
}

.classyBox {
	margin:auto;
	border: 2px solid #ff5a5f;
	padding:1.3em 1.5em 1.5em 1.5em;
	text-align:center;
}


.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.logo {
	/*font-family:'Lobster',cursive;*/
	font-family:'Pacifico', cursive;
	font-weight:200;
	font-size:1.5em;
	text-transform:none;
}

.learnMore {
	background-color:rgba(255,90,95,.8);
}

#valueProps {
	padding: 4em 1.5em;
	font-size:1em;
}

#valueProps h2 {
	margin-bottom:1em;
}

#valueProps h3 {
	width: 25%;
	float: left;
  	padding: .5em;
  	border:2px solid rgba(255,255,255,0);
}

#valueProps h3:hover {
	border: 2px solid #fff;
	background-color:rgba(255,255,255,.2);
}
.cta {
	font-size:2em;
	text-align:center;
	margin:1em 0;
}
.cta a {
	margin:0 .5em;
}
.learnButton {
	text-decoration: none;
	color: #fff;
	border:4px solid rgba(0,0,0,0);
	box-shadow: 0px 4px #fff;
	padding: .5em;
	background-color: rgba(255,255,255,.5);
}

.learnButton:hover {
	background-color: rgba(255,255,255,.8);
	color:#ff5a5f;
	box-shadow-color:#ff5a5f;
}

.learnButton:active {
	background-color: rgba(255,255,255,0);
	border:4px solid #fff;
	box-shadow:none;
}

.buy {
	box-shadow: 0px 4px #B22D31;
}

.buyNow {
	border:4px solid #fff;
	color:#fff;
	text-decoration: none;
	float:right;
	margin: 1em;
	padding:.5em;
}

.buyNow:hover {
	background-color: rgba(255,255,255,.5);
}

.buyNow:active {
	background-color:#fff;
	color:#ff5a5f;
}











