* {
	/*border:1px solid #fff;*/
	/*transition: 1s;*/
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	/*background-color:#ff5a5f;*/
	/*color:rgb(86, 90, 92);*/
	/*font-family: 'Comfortaa','Open Sans', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-size:30px;
	font-weight:200;
	margin:0px;
}
body.homepage {
	background: url("../images/blurredSmartHuman.jpg");
	background-attachment: fixed;
	background-size:cover;
	background-repeat:no-repeat;
	color:#fff;
}
body.regular {
	background-color:#f5f5f5;
	background-image:none;
	color:#ff5a5f;
	min-height:100vh;
}

header {
	text-align: left;
	width:100%;
	/*position:inherit;*/
	color:#ff5a5f;
	font-size:.75em;
	padding:0 .5em;
}
.homepage header, .homepage footer {
	background-color: rgba(255,255,255,.5);
}

.regular header, .regular footer {
	background-color:#fff;
}

header a.logo {
	text-decoration:none;
	color:#ff5a5f;
	float:left;
	margin-top: .1em;
}

nav {
	float:right;
}
nav a {
	float: left;
	margin: .5em;
	padding: .5em 0;
	text-align: center;
	color: #ff5a5f;
	text-decoration: none;
	font-weight:400;
	/*box-shadow:0px 3px rgba(255,255,255,0);*/
	/*width:2em;*/
}
nav a:hover {
	box-shadow:0px 3px #ff5a5f;
	/*font-weight:700;*/
}

nav a.button {
	box-shadow: 0px 3px #B22D31;
	border:none;
	margin: .5em 0;
}
nav a.button:hover {
	box-shadow: 0px 3px #B22D31;
}
nav a.button:active {
	box-shadow: 0px 3px #ff5a5f;
}

main {
	margin:5% auto;
	max-width:1200px;
	min-height:90vh;
}

h1, h2, h3 {
	font-weight:200;
	margin:0px;
}

h1 {
	text-transform:uppercase;
	color:#ff5a5f;
	font-size:3em;
	line-height:2em;
}
h2 {
	font-size: 1.6em;
	line-height: 1.6em;
}

h3 {
	font-size:.8em;
}

h3 strong{
	display:block;
	font-size:1.2em;
}

p, ul {
	line-height:1.25em;
}

ul {
	list-style-type:none;
	padding:0;
/*	padding-left:1.5em;*/
}

li span {
	font-size:.66em;
}

strong {
	font-family:'Pacifico',cursive;
	font-weight:normal;
}

footer {
	font-size:.5em;
	font-weight:400;
	text-align:center;
	clear:both;
	padding: 1.5em 0;
	color:#ff5a5f;
}
footer.shortPage {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.button {
	color:#fff;
	background-color:#ff5a5f;
	border:4px solid rgba(0,0,0,0);
	box-shadow: 0px 4px #B22D31;
	/*border:none;*/
	/*border-radius: 5px;*/
	/*box-shadow: 0 2px #B22D31;*/
	/*font-size:1em;*/
	padding:.5em;
	text-align:center;
	text-decoration:none;
}

.button:hover{
	background-color:#B22D31;
}

.button:active {
	color:#ff5a5f;
	background-color:#fff;
	box-shadow: 0px 4px #ff5a5f;
	/*border: 2px #ff5a5f;*/
}
.right {
	float:right;
}

.slogan {
	/*font-style:italic;*/
	/*text-transform:capitalize;*/
	text-align:center;
	font-size:1.55em;
	color:#ff5a5f;
	margin:0px;
}

/*.splash {
	background: url("../images/blurredSmartHuman.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
}*/

.lighten {
	background-color:rgba(255,255,255,.2);
	height:100vh;
}
.darken {
	background-color:rgba(0,0,0,.2);
	height:100vh;
}

.classyBox {
	margin:auto;
	border: 2px solid #ff5a5f;
	padding:1.3em 1.5em 1.5em 1.5em;
	text-align:center;
}

.logo {
	/*font-family:'Lobster',cursive;*/
	font-family:'Pacifico', cursive;
	font-weight:200;
	font-size:1.5em;
	text-transform:none;
}

.learnMore {
	background-color:rgba(255,90,95,.8);
	padding: 0 1.5em;
}

#valueProps {
	padding: 4em 0;
	font-size:1em;
}

#valueProps h2 {
	margin-bottom:1em;
}

#valueProps h3 {
	width: 25%;
	float: left;
  	padding: .5em;
  	border:2px solid rgba(255,255,255,0);
}

#valueProps h3:hover {
	border: 2px solid #fff;
	background-color:rgba(255,255,255,.2);
}
.cta {
	font-size:2em;
	text-align:center;
	margin:1em 0;
}
.cta a {
	margin:0 .5em;
}
.learnButton {
	text-decoration: none;
	/*color: #fff;*/
	color:#ff5a5f;
	/*border:4px solid rgba(0,0,0,0);*/
	border:4px solid rgba(255,255,255,0);
	/*box-shadow: 0px 4px #fff;*/
	box-shadow: 0px 4px #ff5a5f;
	padding: .5em;
	background-color: rgba(255,255,255,.5);
}

.learnButton:hover {
	background-color: rgba(255,255,255,.8);
	/*color:#ff5a5f;*/
	/*box-shadow-color:#ff5a5f;*/
}

.learnButton:active {
	color:#fff;
	background-color: rgba(255,255,255,0);
	border:4px solid #fff;
	/*box-shadow-color: #fff;*/
	box-shadow: 0px 4px #fff;
}

.buy {
	box-shadow: 0px 4px #B22D31;
}

.buyNow {
	border:4px solid #fff;
	color:#fff;
	text-decoration: none;
	float:right;
	margin: 1em 0;
	padding:.5em;
}

.buyNow:hover {
	background-color: rgba(255,255,255,.5);
}

.buyNow:active {
	background-color:#fff;
	color:#ff5a5f;
}

.link {
	text-decoration:none;
	color:#ff5a5f;
}


/*Tell friends referall page styles*/

.regular h1 {
	line-height:1.3em;
}

.sharingIcons {
	width:100%;
}
.sharingIcons a {
	text-decoration:none;
	color:#ff5a5f;
	font-size:4em;
	float:left;
	margin: 7.5%;
}
.sharingIcons a:hover {
	text-shadow: .1em .1em #fff;
}
.sharingIcons a:active {
	color:#fff;
	text-shadow: -2px 0 #ff5a5f, 0 2px #ff5a5f, 2px 0 #ff5a5f, 0 -2px #ff5a5f;
}

/*Product page /buy css*/

.gallery, .details {
	width:40%;
	margin:2.5%;
}
.gallery {
	float: left;
}

.hero {
	width:100%%;
}

.thumbnails {
	/*width:50%;*/
}

.thumbnail {
	float:left;
	border-radius:50%;
	border: 2px solid #fff;
	width:4em;
	overflow:hidden;
	margin:.5em;
	display:inline-block;
}
.thumbnail .overlay {
	position:relative;
	top:0px;
	width:4em;
	height:4em;
	background:#ff5a5f;
	opacity:0;
}
.thumbnail:hover .overlay{
	opacity:.3;
}
div.thumbnail {
	background-size: cover;
	height: 4em;
}

.selected {
	border: 2px solid #ff5a5f;
}

.details {
	clear: both;
	display: inline-block;
}

.details form {
	margin:1em 0;
}

#price {
	font-weight:600;
}

button.button {
	font-family: 'Raleway', sans-serif; /*Why do I need this?*/
	font-size:1em;
	float:right;
}

#quantity {
	padding:5px;
	width:35px;
	border: 1px solid #555;
}

/*input[type="radio"]:checked {
    visibility:hidden;
}*/

/*Just kidding, it's a fake styling*/

.justBack a{
	font-size:2em;
	line-height:1.5em;

}
.justBack a:hover {
	/*border-bottom:4px solid #000;*/
}
.justBack a:active {
	/*color:#fff;
	text-shadow: -2px 0 #ff5a5f, 0 2px #ff5a5f, 2px 0 #ff5a5f, 0 -2px #ff5a5f;*/
}

.kidding h1 {
	padding:0 3%;
}

/*.kidding {
	font-size:1.5em;
	padding:0 11%;
}*/
.kidding a {
	font-size:2em;
	float:right;
	margin:1em 0;
}
.kidding a:hover, .justBack a:hover {
	color:#B22D31;
}
.justBack a:active {
	text-shadow: .1em .1em #f5f5f5;
}
.kidding a:active {
	text-shadow: .1em .1em #fff;
}

/*Other useful styling tricks*/

.verticalAlign {
	position:relative;
	top:50%;
	transform:translateY(25%);
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}


/*********************
Hamburger menu styling
*********************/


/*nav {
	display:none;
}*/
.mobile-nav {
	display:none;
	/*float:right;*/
	position:absolute;
	/*left:25%;*/
	width:100%;
}
.menu-btn {
	float:right;
	margin-right: 1em;
	position: absolute;
	top: 5%;
	right: 0%;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 10px;
	height: 10px;
	border-radius:50%;
	margin: 4px 4px;
	background: #ff5a5f;
	z-index: 99;
}

.responsive-menu {
	display: none;
	clear:both;
	/*background-color: rgba(255,255,255,.5);*/
	background-color:#fff;
}

.responsive-menu li {
	text-align:right;
	padding-right:1em;
}

.responsive-menu a {
	color: #ff5a5f;
	text-decoration: none;
	font-weight:400;
	font-size:3em;
	line-height: 2em;
}

.expand {
	display: block !important; 
}
.open {
	float:left;
}
.blur {
	filter:blur(3px);
	-webkit-filter:blur(3px);
}
.redHeader {
	color: #ff5a5f;
}



/************
Media Queries
*************/




@media only screen and (min-width: 1221px) and (max-width: 1377px) {
	body {
		font-size: 28px;
	}
}

@media only screen and (min-width: 1056px) and (max-width: 1220px) {
	body {
		font-size:22px;
	}
	.classyBox {
		margin:10%;
	}
}
@media only screen and (min-width:937px) and (max-width: 1055px) {
	body {
		font-size:22px;
	}
	.classyBox {
		margin: 10% 5%;
	}
}
@media only screen and (min-width:891px) and (max-width: 936px) {
	body {
		font-size:22px;
	}
	.classyBox {
		margin: 10% auto;
		border: none;
		padding:none;
	}
}
@media only screen and (min-width:790px) and (max-width: 890px) {
	body {
		font-size:22px;
	}
	.classyBox {
		margin: 10% auto;
		border: none;
		padding:0 16%;
	}
	.classyBox h1 {
		line-height:1.5em;
		margin-bottom:1em;
	}
	.slogan {
		text-align:left;
	}
	#valueProps h3 {
		width:50%;
		min-height: 100px;
	}
}
@media only screen and (min-width:568px) and (max-width: 789px) {
	body {
		font-size:22px;
	}
	.classyBox {
		margin: 10% auto;
		border: none;
		/*padding:0 16%;*/
		padding:0;
	}
	.classyBox h1 {
		line-height:1.5em;
		margin:.5em;
	}
	.slogan {
		text-align:left;
		padding:0 4em;
	}
	#valueProps h3 {
		width:50%;
		min-height: 100px;
	}
	.cta a {
		margin:0;
		float:left;
		width:50%;
		position:absolute;
		bottom:0;
	}
	.buy {
		/*position: fixed;
  		width: 100%;
  		bottom: 0;
  		left: 0;*/
  		/*display:block;*/
  		box-shadow: none;
  		opacity:.8;
	}
	.learnButton {
		display:block;
		box-shadow:none;
	}
	.buyNow {
		float:none;
		display:block;
		clear:both;
	}
}
@media only screen and (min-width:468px) and (max-width: 567px) {
	body {
		font-size:18px;
	}
	nav {
		display:none;
	}
	.mobile-nav {
		display:block;
	}
	header a.logo {
		font-size:2em;
		padding:.25em;
		margin-top:0;
	}
	.responsive-menu li:first-child {
		margin-top: 15%;
	}
	.menu-btn {
		transform: translateY(18%);
	}
	.classyBox {
		margin: 10% auto;
		border: none;
		/*padding:0 16%;*/
		padding:3em 0;
	}
	.classyBox h1 {
		line-height:1.5em;
		margin:.5em;
	}
	.slogan {
		text-align:left;
		padding:0 4em;
	}
	#valueProps h3 {
		width:100%;
		min-height: 100px;
		font-size:1em;
	}
	.cta a {
		margin:0;
		float:left;
		width:50%;
		position:absolute;
		bottom:0;
	}
	.buy {
		/*position: fixed;
  		width: 100%;
  		bottom: 0;
  		left: 0;*/
  		/*display:block;*/
  		box-shadow: none;
  		opacity:.8;
	}
	.learnButton {
		display:block;
		box-shadow:none;
	}
	.buyNow {
		float:none;
		display:block;
		clear:both;
	}
	.sharingIcons {
		position:fixed;
		bottom:0;
	}
	.sharingIcons a {
		background-color: #ff5a5f;
		color: #fff;
		margin:0;
		width: 25%;
		text-align: center;
		border: 2px solid #fff;
	}
	footer {
		font-size:.75em;
	}
}

@media only screen and (min-width:0px) and (max-width: 467px) {
	body {
		font-size:16px;
	}
	nav {
		display:none;
	}
	.mobile-nav {
		display:block;
	}
	header a.logo {
		font-size:2em;
		padding:.25em;
		margin-top:0;
	}
	.responsive-menu li:first-child {
		margin-top: 15%;
	}
	.menu-btn {
		transform: translateY(11%);
	}
	.classyBox {
		margin: 10% auto;
		border: none;
		/*padding:0 16%;*/
		padding:3em 0;
	}
	.classyBox h1 {
		line-height:1.5em;
		margin:.5em;
	}
	.slogan {
		text-align:left;
		padding:0 4em;
	}
	#valueProps h3 {
		width:100%;
		min-height: 100px;
		font-size:1em;
	}
	.cta a {
		margin:0;
		float:left;
		width:50%;
		position:absolute;
		bottom:0;
		font-size:.9em;
		padding:.5em 0;
	}
	.buy {
		/*position: fixed;
  		width: 100%;
  		bottom: 0;
  		left: 0;*/
  		/*display:block;*/
  		box-shadow: none;
  		opacity:.8;
	}
	.learnButton {
		display:block;
		box-shadow:none;
	}

	.buyNow {
		float:none;
		display:block;
		clear:both;
	}
	.regular footer {
		display:none;
	}
	.sharingIcons {
		position:fixed;
		bottom:0;
	}
	.sharingIcons a {
		background-color: #ff5a5f;
		color: #fff;
		margin:0;
		width: 25%;
		text-align: center;
		padding:.25em 0;
		font-size:3em;
		/*border: 2px solid #B22D31;*/
	}
	.kidding a {
		float: none;
		display: block;
		margin: 2em auto 0;
		padding: .25em 0;
		position: fixed;
		bottom: 0;
		width: 100%;
		color: #fff;
		background-color: #ff5a5f;
		border-bottom: 2px solid #B22D31;
		font-size: 1.5em;
		text-align: center;
	}
	/*.kidding a>span {
		display: block;
		border-radius: 50%;
		color: #fff;
		background-color: #ff5a5f;
		box-shadow: 0px 3px #B22D31;
		text-align: center;
		position: fixed;
		bottom: 45px;
		left:40%; how else could I do this?
		padding: 1em;
	}*/
	.regular main {
		margin:0;
	}
	.regular h1 {
		padding: 3em 0.5em;
		font-size: 2.5em;
	}
	.gallery, .details {
		float:none;
		width:100%;
		margin:0;
	}
	.details h2, p, form {
		margin:5% !important;
	}
	.thumbnails {
		display:none;
	}
	.right {
		float: none;
		position: fixed;
		bottom: 0;
		box-shadow: none;
		border-bottom: 2px solid #B22D31;
		width: 100%;
	}
	footer {
		font-size:.75em;
	}
}