body {
	background-color:#f5f5f5;
	background-image:none;
	color:#ff5a5f;
}

header, footer {
	background-color:#fff;
}

footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

h1 {
	line-height:1.5em;
}

.sharingIcons {
	width:100%;
}
.sharingIcons a {
	text-decoration:none;
	color:#ff5a5f;
	font-size:4em;
	float:left;
	margin: 7.5%;
}
.sharingIcons a:hover { /*Any creative ideas of what to do here?*/
	/*background-color:rgba(0,0,0,.1);
	border-radius:5%;*/
	text-shadow: .1em .1em #fff;
}
.sharingIcons a:active {
	color:#fff;
	text-shadow: -2px 0 #ff5a5f, 0 2px #ff5a5f, 2px 0 #ff5a5f, 0 -2px #ff5a5f;
}