html {
	box-sizing: border-box;
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%; 
	margin:0;
	padding:0;
}
*, 
*:before, 
*:after {
	box-sizing: inherit;
}
a,
button {
	cursor: pointer;
	text-decoration: none;
}
body {
	padding:0;
	margin:0;
	font-size:24px;
	position:relative;
	height:100vh;
	width:100%;
}

header.grid {
	position:fixed;
	top:0;
	width:100%;
	background-color: rgba(255,255,255,.8);
    border-bottom: 1px solid #aaa;
    z-index: 1;
}

h1 {
	font-size:3em;
	color:#fff;
	padding: .25em;
	margin:0;
	text-shadow: 0px 0px 4em #aaa;
}
h1 img {
	height:1em;
	padding-right: .5em;
	vertical-align: text-top;
}
h1 span {
	white-space: nowrap;
}
h1:before {
	content:'';
	background-image:url('images/beepi_iso_white.png');
	background-size: cover;
	height:1em;
	width:1em;
	display:inline-block;
	margin-right: .25em;
	vertical-align: text-top;
}

/*Blue overlay on slideshow*/
/*h1:after {
	content:'';
	display:block;
	position:absolute;
	height:100%;
	width:100%;
	left:0;
}
h1,
h1:after {
	background-color:rgba(0,155,255,.5);
	padding-bottom:0;
}
.grid h1:after {
	content:none;
}
.grid h1 {
	background-color: #fff;
}*/

header.grid h1 {
	font-size:1em;
	font-weight:100;
	color:#555;
	float:left;
	line-height: 2em;
    padding-top: 0;
    padding-bottom: 0;
}
header.grid h1:before {
	background-image:url('images/beepi_iso_blue.png');
}
header.grid h1 span {
	font-weight:400;
}

#seeSmiles,
#seeMore,
#play {
	display:block;
	/*margin: auto;*/
	text-align:center;
	text-transform: uppercase;
	font-weight:400;
}
#seeSmiles,
#play {
	background-color:rgba(0,155,255,.75);
	color:#fff;
	padding:.5em;
	position: fixed;
    bottom: 4em;
    height: 2em
}
#seeSmiles:hover,
#play:hover,
#seeMore:active {
	background-color:rgba(4,117,210,.75);
}
#seeSmiles:active,
#play:active {
	background-color:#fff;
	color:#009bff;
}
#seeSmiles {
	border-radius:5px;
	left: 50%;
	transform: translate(-50%, 0);
}
#play {
	border-radius: 50%;
	right:1em;
    width: 2em;
    z-index: 1;
}
#seeMore {
	display:none;
	/*color:#fff;
	text-shadow: 0px 0px 4em #aaa;*/
	color:#009bff;
	margin: .5em auto;
    border-top: 2px solid #009bff;
    padding-top: .25em;
    padding-bottom:1em;
}
#seeMore:hover {
	font-weight:bolder;
	text-shadow: 0px 0px 2em #aaa;
}
#seeMore:active {
	font-weight:bolder;
	/*color:darkblue;*/
}
.noMore {
	color:grey !important;
	border-top: 2px solid grey !important;
	font-weight:600 !important;
	pointer-events: none;
	cursor: default;
}
.noMore:after {
	content: 'Never stop making people smile, Beepiers.';
	font-size:.5em;
	font-weight:400;
	display: block;
}
#ferris {
	background-image: url('images/ferris.gif');
}

#slideshow.grid:before {
	content: '';
	display:block;
}
header.grid,
#slideshow.grid:before {
	height:2em;
}

#slideshow,
#slideshow li {
	position:absolute;
	top: 0;
    left: 0;
    z-index: -1;
    height:100vh;
	width:100%;
}
#slideshow {}
#slideshow {
	margin:0;
	padding:0;
}
#slideshow li {
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
    list-style-type: none;
    overflow: hidden;
}
.close,
.details {
	/*display:none;*/
	color:#fff;
}
button {
	background-color:transparent;
	border:none;
}
.close {
	display: none;
	width:100%;
	text-align:right;
	font-size: .5em;
	padding:1em;
}
.details {
	padding:.5em;
	background-color: rgba(85,85,85,.75);
	position:absolute;
	bottom:-3em;
	text-align:right;
	width:100%;
	font-weight:100;
	transition: bottom .25s ease;
}
.name, 
.type {
	text-transform: capitalize;
}
.name {
	font-weight:600;
}
.details div {
	font-size:.5em;
}
.type {}

#slideshow.grid,
#slideshow.grid li {
	z-index: 0;
}
#slideshow.grid {
	position:static;
	height:initial;
}
#slideshow.grid li {
	position: relative;
	width:33.33%;
	height: 30vh;
	display:block;
	float:left;
	cursor: zoom-in;
	animation: none !important;
}
.grid li:hover {
	/*transform: scale(1.2);*/
}
.grid li:hover .details {
	bottom:0;
}
.grid h1,
.grid li {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-ms-transition:     all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	transition:         all .5s ease-in-out;
}
/*.grid li a {
	height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}*/

.view {
	position:fixed !important;
	height:100% !important;
	width:100% !important;
	z-index: 1 !important;
	cursor:zoom-out !important;
	transition-property: height !important;
	background-size: contain !important;
    background-color: rgba(0,0,0,1);
}
.view .close,
.view .details {
	display:block;
}
.view .details {
	bottom:0;
	/*background-color: transparent;*/
}

.toggle {
	border: 2px solid #555;
	border-radius: 5px;
	margin: .25em;
	font-size: .75em;
	float:right;
	display:none;
}
.grid .toggle {
	display:block;
}
.toggle input {
	position: absolute;
	right:1000%;
}
.toggle label {
	float:left;
	color: #555;
	/*text-shadow: 0px 0px 4em #aaa;*/
	padding: .25em;
	text-align:center;
	display:inline-block;
	border-right: 2px solid #555;
}
.toggle label:last-of-type {
	border-right: none;
}
.toggle input:hover + label {
	color:#aaa;
}
.toggle input:checked + label:hover {
	color: #555;
}
.toggle input:checked + label {
	/*background-color: rgba(255,255,255,.5);*/
	background-color:#aaa;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

@media only screen and (max-width: 600px) {
	.grid h1,
	.grid .toggle {
		float:none !important;
	}
	h1 {
		font-size: 2.5em;
		text-align: center;
	}
	.toggle {
		width: calc(100% - 1em);
		margin: .25em auto;
	}
	.toggle label {
		width: calc(100% / 3);
		width: calc(100% / 4);
	}
	header.grid,
	#slideshow.grid:before {
		height:4em;
	}
	.grid li {
		width:100% !important;
	}
	/*#seeMore,*/
	#seeSmiles {
		width:100%;
		bottom:0;
		right:0;
		border-radius: 0;
	}
	.view div.details:before {
		/*content:'x';
		color:#fff;
		text-shadow: 0px 0px 4em #aaa;*/
		content:'';
		background-image:url('http://static.beepi.com/images/carpage/carpage_general_160728.svg');
		background-position: -720px 0;
		display:block;
		width:1em;
		height: 1em;
		background-repeat: no-repeat;
		position:fixed;
		top:.5em;
		right:.5em;
	}
}