body {
	background-color:#ff5a5f;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
}

#classyBox {
	height: 100px;
	width: 100px;
	border: 2px solid;
	border-color:#fff;
	text-align:center;
	padding: 10px;
	background: RGBa(255,255,255,.5);
	font-size: 25px;
	/*margin:auto;*/
	position:fixed;
	top:45%;
	left:45%;
}

