body {
	background: url("../images/blurredSmartHuman.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#ff5a5f;
	color:rgb(86, 90, 92);
	font-family: 'Circular Std Book', 'Helvetica Neue UltraLight','Open Sans', sans-serif;
	font-size:24px;
	font-weight:100px;
	margin:0px;
}
header {
	text-align: left;
	background: RGBa(255,255,255,.5);
	width:100%;
	position:inherit; /*why not fixed?*/
	color:#ff5a5f;
}
header p {
	float:right;
	margin:10px auto;
	padding:0px 10px;
}
header p.headerLogo {
	float:left;
	position: relative;
	/*top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
}
section {
	margin:5% auto;
	width:650px;
}
h1 {
	text-transform:uppercase;
	color:#ff5a5f;
	font-weight:lighter; /*couldn't figure out why 100px wasn't working*/
	font-size:2em;
}

p, ul {
	line-height:35px;
}

ul {
	list-style-type:none;
}
li span {
	font-size:16px;
}
button {
	color:#fff;
	background-color:#ff5a5f;
	border:none;
	border-radius: 5px;
	box-shadow: 0 2px #B22D31;
	font-size:1em;
	text-align:center;
}

button:hover{
	background-color:#B22D31;
}

button:active {
	color:#ff5a5f;
	background-color:#fff;
	border: 2px #ff5a5f;
	box-shadow: 0 2px #ff5a5f;
}
.slogan {
	font-style:italic;
	text-align:center;
	text-transform:capitalize;
	font-size:1.65em;
	color:#ff5a5f;
}
.classyBox {
	margin:auto;
	border: 2px solid #ff5a5f;
	text-align:center;
	/*height: 100px;*/
	/*padding: 10px;*/
	/*background: RGBa(255,255,255,.5);*/
	/*font-size: 25px;*/
	/*margin:auto;*/
	/*position:fixed;*/
	/*left:45%*/;
}

.headerLogo {
	text-transform:uppercase;
	/*padding-left:25px;*/
	/*vertical-align:middle;*/ /*why isn't this working?*/
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
